.user-modalBackground{
    z-index: 9999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200, 0.35);
}

.user-modalContainer{
    width: 450px;
    height: 460px;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.user-modalContainer .user-modalImg{
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.user-modal-icon{
    width: 120px;
    height: 120px;
}

.closeIcon-user{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin: 0;
}

.user-modalContainer .user-modalBody{
    padding-top: 10px;
}

.user-modalContainer .user-modalBody p{
    padding-left: 15px;
    padding-bottom: 3px;
}

.user-modalContainer .user-modalFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-user-button{
    font-family: 'Readex Pro', sans-serif;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #ee5656;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
}